@charset "utf-8";

/* 全局元素不要内外边距 */

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
dl,
dt,
dd,
ul,
ol,
li,
p,
blockquote,
pre,
hr,
figure,
table,
caption,
th,
td,
form,
fieldset,
legend,
input,
button,
textarea,
menu {
    margin: 0;
    padding: 0;
}


/* 元素转换成块元素 */

header,
footer,
section,
article,
aside,
nav,
hgroup,
address,
figure,
figcaption,
menu,
details {
    display: block;
}


/* 元素边框为0 */

html,
body,
fieldset,
img,
iframe,
abbr {
    border: 0;
}


/* 列表前符号设置无 */

ul,
li {
    list-style: none;
}


/* 超链接设置 */

a {
    text-decoration: none;
    font-size: 12px;
    color: #000;
}


/* 去掉图片下方三像素的白边 */

img {
    vertical-align: middle;
}


/* 搜索框和按钮边框设置无,搜索框和按钮点击边框设置无 */

input,
button,
fieldset {
    border: none;
    outline: none;
}

textarea {
    overflow: auto;
    resize: none;
}

label,
summary {
    cursor: default;
}

a,
button {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
em,
strong,
b {
    font-weight: bold;
}


/* 文本字体样式正常 */

i,
cite,
em,
var,
address,
dfn {
    font-style: normal;
}

del,
ins,
u,
s,
a,
a:hover {
    text-decoration: none;
}

[hidefocus],
summary {
    outline: 0;
}


/* 边框模式:合并的模式 */

table {
    border-collapse: collapse;
}

caption,
th {
    text-align: left;
    font-weight: normal;
}


/* 字体设置 */

body,
textarea,
input,
button,
select,
keygen,
legend {
    font: 14px/1.14 PingFangSC-Regular,Hiragino Sans GB,sans-serif;
    color: #777;
    outline: 0;
    // background-color: #f5f5f5;
}


/* body {
    font: 12px/1.5 tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
} */

.fl {
    float: left;
}

.fr {
    float: right;
}


/* 设置主体宽度居中 */

.layer {
    width: 1190px;
    display: flex;
    align-items: center;
    /* margin: 0 auto; */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* 解决高度塌陷 */

.clear::after {
    content: '';
    /* 添加空内容，默认为行内元素 */
    display: block;
    /* 转换为块元素 */
    height: 0;
    /* 高为0 */
    overflow: hidden;
    /* 溢出隐藏 */
    visibility: hidden;
    /* 隐藏元素，仍然占据空间 */
    clear: both;
    /* 清除浮动 */
}

// 单行省略
.line-ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 阿里iconfont字体 */

// .iconfont {
//     font-size: 1em;
// }